section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input, .img-mobile{
    display: none;
}

.slide-box{
    width: 25% ;
    height: auto ;
    position: relative ;
    text-align: center ;
    transition: 1s;
}

.slide-box img{
    width: 100%;
}

.nav-manual, .nav-auto {
    position: absolute;
    margin-top: 52%; /* Ajuste a distância do fundo conforme necessário */
    width: 100%;
    display: flex;
    justify-content: center;
}

.manual-btn, .nav-auto div {
    border: 1px solid #E0A2A2;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px; /* Espaçamento entre os botões */
    transition: 0.2s;
}

.nav-manual .manual-btn:hover{
    background-color: #E0A2A2;

}

#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: #E0A2A2;
}

#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: #E0A2A2;
}

#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #E0A2A2;
}

#radio4:checked ~ .nav-auto .auto-btn4{
    background-color: #E0A2A2;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

#radio4:checked ~ .primeiro{
    margin-left: -75%;
}

@media screen and (max-width: 760px) {

    .manual-btn, .nav-auto div{
        padding: 3px !important;
    }

    .img-desktop{
        display: none;
    }

    .img-mobile{
        display: block;
    }

    .nav-auto, .nav-manual{
        margin-top: 60%;
    }
}


