@import url('header.css');
@import url('carossel.css');
@import url('sobre.css');
@import url('serviços.css');
@import url('parallax.css');
@import url('depoimentos.css');
@import url('swiper-bundle.min.css');

@font-face {
    font-family: "BrownSugar-01";
    src: url(../CONTEUDO/FONTES/Brown\ Sugar\ .otf);
    font-weight: normal;
}

@font-face {
    font-family: "BrownSugar-02";
    src: url(../CONTEUDO/FONTES/Brown\ Sugar\ .ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat-01";
    src: url(../CONTEUDO/FONTES/Montserrat-Italic-VariableFont_wght.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat-02";
    src: url(../CONTEUDO/FONTES/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Quentin";
    src: url(../CONTEUDO/FONTES/Quentin.otf);
}

@font-face {
    font-family: "Playflair-01";
    src: url(../CONTEUDO/FONTES/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Playflair-02";
    src: url(../CONTEUDO/FONTES/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: "HearthStone-01";
    src: url(../CONTEUDO/FONTES/Hearth\ Stone.otf);
}

@font-face {
    font-family: "HearthStone-02";
    src: url(../CONTEUDO/FONTES/Hearth\ Stone.ttf);
}

    /*---------- BASE ----------*/
*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--white);
    font-size: var(--normal-font-size);
    font-family: var(--font-text);
    overflow-x: hidden;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
