.hero {
    text-align: center;
    padding: 80px;
    color: #BB6363;
}

.hero h1 {
    font-size: 50px;
    font-family: "HearthStone-02";
}

.hero h2{
    font-size: 20px;
    font-family: "Montserrat-02";
}

.sobre-nos{
    display: flex;
    margin-top: 30px;
    width: 900px;
    margin-top: 10px !important;
    margin: auto;
    margin-bottom: 50px;
    height: auto;
}

#sobre{
    background-color: #FFF0F5 !important;
}

.sobre-nos h3{
    font-family: "Playflair-02";
    font-size: 50px;
    color: #BB6363;
    padding: 10px;
    margin-left: 50px;
}

.sobre-nos p{
    width: 400px;
    margin: 10px;
    font-size: larger;
    font-family: "Montserrat-02";
    padding-bottom: 15px;
    margin-left: 50px;
}

.card{
    width: 400px;
    height: 400px;
    background-image: url(../CONTEUDO/MANAS/manas-01.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -100px;
}

.sobre-nos button {
    display: inline-block;
    background-color: #BB6363;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-left: 50px;
  }
  
  .sobre-nos button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .sobre-nos button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .sobre-nos button:hover span {
    padding-right: 25px;
  }
  
  .sobre-nos button:hover span:after {
    opacity: 1;
    right: 0;
  }

/* Media query para dispositivos móveis */
@media (max-width: 768px) {

    .hero{
        padding: 50px;
    }

    .hero h1{
        font-size: 40px;
        margin-bottom: 10px;
    }

    .hero h2{
        font-size: 20px;
    }

    .card{
        width: 100%;
        margin: auto;
    }

    .sobre-nos{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    #sobre{
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    #sobre p{
        padding: 10px;
        margin: 0 auto;
    }

    #sobre button{
        margin: 0 auto;
        margin-bottom: 15px;
    }

    #sobre h3{
        margin: 0 auto;
    }

}

@media (max-width: 480px) {
    
}