/* Importando os estilos CSS */
@import url('header.css');
@import url('carossel.css');
@import url('sobre.css');
@import url('serviços.css');
@import url('parallax.css');
@import url('depoimentos.css');
@import url('swiper-bundle.min.css');
@import url('footer.css');
@import url('contatos.css');
@import url('teste.css');

/* Definindo fontes personalizadas */
@font-face {
    font-family: "BrownSugar-01";
    src: url(../../CONTEUDO/FONTES/Brown\ Sugar\ .otf);
    font-weight: normal;
}

@font-face {
    font-family: "BrownSugar-02";
    src: url(../../CONTEUDO/FONTES/Brown\ Sugar\ .ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat-01";
    src: url(../../CONTEUDO/FONTES/Montserrat-Italic-VariableFont_wght.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat-02";
    src: url(../../CONTEUDO/FONTES/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Quentin";
    src: url(../../CONTEUDO/FONTES/Quentin.otf);
}

@font-face {
    font-family: "Playflair-01";
    src: url(../../CONTEUDO/FONTES/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Playflair-02";
    src: url(../../CONTEUDO/FONTES/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: "HearthStone-01";
    src: url(../../CONTEUDO/FONTES/Hearth\ Stone.otf);
}

@font-face {
    font-family: "HearthStone-02";
    src: url(../../CONTEUDO/FONTES/Hearth\ Stone.ttf);
}

/* Estilos globais */
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--white); /* Define cor de fundo */
    font-size: var(--normal-font-size); /* Define tamanho de fonte padrão */
    font-family: var(--font-text); /* Define família de fonte */
    overflow-x: hidden; /* Evita a rolagem horizontal */
}

ul {
    list-style: none; /* Remove marcadores de lista */
}

a {
    text-decoration: none; /* Remove sublinhado de links */
}

