/* Estilos para a seção hero-02 */
.hero-02 {
  text-align: center; /* Alinhamento centralizado do texto */
  padding: 80px; /* Espaçamento interno */
  color: #BB6363; /* Cor do texto */
}

.hero-02 h1 {
  font-size: 50px; /* Tamanho da fonte do título principal */
  font-family: "HearthStone-02"; /* Fonte do título principal */
}

.hero-02 p {
  color: #000; /* Cor do texto */
  font-size: 20px; /* Tamanho da fonte do parágrafo */
  font-family: "Montserrat-02"; /* Fonte do parágrafo */
}

/* Estilos para o grid container .container-03 */
.container-03 {
  height: 500px; /* Altura do container */
  display: grid; /* Layout em grid */
  grid-template-columns: repeat(3, 1fr); /* Três colunas com largura igual */
  grid-template-rows: 1fr; /* Uma única linha com altura igual */
  margin-bottom: 550px; /* Espaço inferior */
}

/* Estilos para os elementos dentro do grid */
.background-one,
.background-two,
.background-three {
  margin: 5px; /* Margem externa */
  border: 2px solid #915858; /* Borda sólida */
  background-color: #FFF0F5; /* Cor de fundo */
}

/* Estilos para o link container */
.link-container {
  display: flex; /* Flex container para alinhar os itens */
  flex-direction: column; /* Layout de coluna */
  justify-content: center; /* Centralizar verticalmente */
  align-items: center; /* Centralizar horizontalmente */
  height: 500px; /* Altura do container */
  position: relative; /* Posição relativa */
  z-index: 0; /* Z-index */
}

/* Estilos para os links */
.container-03 a {
  font-family: "Quentin"; /* Fonte do link */
  font-size: 70px; /* Tamanho da fonte */
  color: #915858; /* Cor do texto */
}

.container-03 {
  color: #915858; /* Cor do texto */
  font-family: "Montserrat-02"; /* Fonte */
  font-size: 15px; /* Tamanho da fonte */
}

/* Estilos para o link um */
.link-one {
  color: #915858; /* Cor do texto */
  transition: color 1s cubic-bezier(0.32, 0, 0.67, 0); /* Transição de cor */
  line-height: 1em; /* Altura da linha */
}

.link-one:hover {
  color: #fff; /* Cor do texto ao passar o mouse */
  transition: color 1s cubic-bezier(0.33, 1, 0.68, 1); /* Transição de cor */
}

.link-one::before {
  content: ""; /* Conteúdo vazio */
  position: absolute; /* Posição absoluta */
  z-index: -1; /* Z-index inferior */
  width: 100%; /* Largura total */
  height: 100%; /* Altura total */
  top: 0; /* Alinhamento superior */
  right: 0; /* Alinhamento direito */
  background-color: #C38888; /* Cor de fundo */
  clip-path: circle(0% at 50% calc(50%)); /* Clip-path */
  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1); /* Transição de clip-path */
}

.link-one:hover::before {
  clip-path: circle(100% at 50% 50%); /* Clip-path ao passar o mouse */
}

.link-one::after {
  content: ""; /* Conteúdo vazio */
  position: absolute; /* Posição absoluta */
  z-index: -1; /* Z-index inferior */
  width: 100%; /* Largura total */
  height: 100%; /* Altura total */
  top: 0; /* Alinhamento superior */
  right: 0; /* Alinhamento direito */
  background-color: #fff; /* Cor de fundo */
  clip-path: polygon(
      40% 0%,
      60% 0%,
      60% 0%,
      40% 0%,
      40% 100%,
      60% 100%,
      60% 100%,
      40% 100%
  ); /* Clip-path */
  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1); /* Transição de clip-path */
}

.link-one:hover::after {
  clip-path: polygon(
      40% 10%,
      60% 10%,
      60% 35%,
      40% 35%,
      40% 90%,
      60% 90%,
      60% 65%,
      40% 65%
  ); /* Clip-path ao passar o mouse */
}

/* Estilos para o link dois */
.link-two {
  color: #915858; /* Cor do texto */
  transition: color 1s cubic-bezier(0.32, 0, 0.67, 0); /* Transição de cor */
}

.link-two:hover {
  color: #fff; /* Cor do texto ao passar o mouse */
  transition: color 1s cubic-bezier(0.33, 1, 0.68, 1); /* Transição de cor */
}

.link-two::before {
  content: ""; /* Conteúdo vazio */
  position: absolute; /* Posição absoluta */
  z-index: -2; /* Z-index inferior */
  width: 100%; /* Largura total */
  height: 100%; /* Altura total */
  top: 0; /* Alinhamento superior */
  right: 0; /* Alinhamento direito */
  clip-path: polygon(
      0% -20%,
      100% -30%,
      100% -10%,
      0% 0%,
      0% 130%,
      100% 120%,
      100% 100%,
      0% 110%
  ); /* Clip-path */
  background-color: #E0A2A2; /* Cor de fundo */
  transition: clip-path 1s cubic-bezier(0.25, 1, 0.5, 1); /* Transição de clip-path */
}

.link-two:hover::before {
  clip-path: polygon(
      0% 10%,
      100% 0%,
      100% 20%,
      0% 30%,
      0% 100%,
      100% 90%,
      100% 70%,
      0% 80%
  ); /* Clip-path ao passar o mouse */
}

.link-two::after {
  content: ""; /* Conteúdo vazio */
  position: absolute; /* Posição absoluta */
  z-index: -1; /* Z-index inferior */
  width: 5ch; /* Largura */
  height: 5ch; /* Altura */
  top: 50%; /* Alinhamento superior */
  right: 50%; /* Alinhamento direito */
  transform: translate(50%, -50%) rotate(0deg) scale(0); /* Transformação */
  transition: transform 1s ease; /* Transição */
  background-color: #E0A2A2; /* Cor de fundo */
}

.link-two:hover::after {
  transform: translate(50%, -50%) rotate(135deg) scale(1); /* Transformação ao passar o mouse */
}

/* Estilos para o link três */
.link-three {
  color: #915858; /* Cor do texto */
  transition: color 1s cubic-bezier(0.32, 0, 0.67, 0); /* Transição de cor */
}

.link-three:hover {
  color: #fff; /* Cor do texto ao passar o mouse */
  transition: color 1s cubic-bezier(0.33, 1, 0.68, 1); /* Transição de cor */
}

.link-three::after {
  content: ""; /* Conteúdo vazio */
  position: absolute; /* Posição absoluta */
  z-index: -1; /* Z-index inferior */
  width: 50%; /* Largura */
  height: 100%; /* Altura */
  top: 0%; /* Alinhamento superior */
  left: 0%; /* Alinhamento esquerdo */
  transform: translate(0, -50%) scaleY(0); /* Transformação */
  transition: transform 1s ease; /* Transição */
  clip-path: polygon(
      20% 60%,
      100% 60%,
      100% 40%,
      20% 40%,
      20% 0%,
      60% 0%,
      60% 20%,
      20% 20%
  ); /* Clip-path */
  background-color: #f3b6b6; /* Cor de fundo */
}

.link-three:hover::after {
  transform: translate(0, 0%) scaleY(1); /* Transformação ao passar o mouse */
}

.link-three::before {
  content: ""; /* Conteúdo vazio */
  position: absolute; /* Posição absoluta */
  z-index: -1; /* Z-index inferior */
  width: 50%; /* Largura */
  height: 100%; /* Altura */
  bottom: 0%; /* Alinhamento inferior */
  right: 0%; /* Alinhamento direito */
  transform: translate(0, 50%) scaleY(0); /* Transformação */
  transition: transform 1s ease; /* Transição */
  clip-path: polygon(
      80% 40%,
      0% 40%,
      0% 60%,
      80% 60%,
      80% 100%,
      40% 100%,
      40% 80%,
      80% 80%
  ); /* Clip-path */
  background-color: #f3b6b6; /* Cor de fundo */
}

.link-three:hover::before {
  transform: translate(0%, 0%) scaleY(1); /* Transformação ao passar o mouse */
}

/* Media query para telas menores que 760px */
@media (max-width: 760px) {

  /* Ajustes para a seção hero-02 */
  .hero-02 {
      padding: 50px; /* Espaçamento interno reduzido */
  }

  .hero-02 h1 {
      font-size: 40px; /* Tamanho da fonte do título principal reduzido */
      margin-bottom: 10px; /* Espaçamento inferior do título principal */
  }

  /* Ajustes para o grid container .container-03 */
  .container-03 {
      display: block; /* Layout de bloco */
  }

  /* Ajustes para os elementos .background-two */
  .background-two {
      margin-left: 5px; /* Margem à esquerda */
      margin-right: 5px; /* Margem à direita */
  }

  /* Ajustes para os links .link-one e .link-three */
  .link-three,
  .link-one {
      font-size: 60px !important; /* Tamanho da fonte dos links */
  }

  /* Ajustes para elementos específicos, se necessário */
  .parallax {
      background-attachment: scroll; /* Anexo de fundo de rolagem */
      order: 2; /* Ordem de exibição */
  }
}
